Results/*
src/compiled_packages/*
src/stubgen_output/*
uv.lock
src/*.*
src/nodeTrajectories/Flows0
**/__pycache__
!src/*.py
!src/phero_c.pyx
!src/phero_c.pyi
!src/mobility_bscap
!src/mobility_bscap/*.py
!src/config/cfg/default.yaml
!src/config/schemas/schema.yaml
